.App-header {
  background-color: #A93C96;
  min-height: 50px;
  padding: 0 20px;
  display: flex;
  color: white;
}

.App-header .block { 
  flex: 1;
}

.App-header .block:nth-child(2) { 
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

a {
  color: inherit;
  text-decoration: none;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.login-container div {
  margin-bottom: 10px;
  width: 100%;
}