.box-layout {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px #eee;
    padding: 10px;
    margin: 10px 0;
}

.wflow-container {
    display: inline-block;
    padding: 20px;
    margin: 20px;
    min-width: 180px;
    min-height: 300px;
}   

.wflow-container:hover {
    background: linear-gradient(#ffffff 0%, #f1f1f1 10%);
    cursor: pointer;
} 

.wflow-container:hover .delete-icon {
    display: inline-block;
} 

.wflow-container ul { 
    text-decoration: none;
    margin: 0;
    padding:0;
}

.wflow-container li { 
    display: block;
    margin: 20px 0;

}

.wflow-container .delete-icon { 
    position: absolute;
    color: red;
    transform: translate(180px, -35px);
    display: none;
}

