.box-layout {
    border: 1px solid #ccc;
    box-shadow: 1px 1px #eee;
    padding: 10px;
    margin: 10px 0;
}

.wflow-container {
    display: inline-block;
    padding: 20px;
    margin: 20px;
    min-width: 200px;
    min-height: 350px;
    box-sizing: border-box;
}   

.wflow-container ul { 
    text-decoration: none;
    margin: 0;
    padding:0;
}

.wflow-container li { 
    display: block;
    margin: 20px 0;
    
}